<div id="<%= dom_id comment %>">
      <div>
        <div>
          <h3>
            <%= comment.title %>
          </h3>
          <h3>
            <%= comment.updated_at %>
          </h3>
        </div>
        <h3>
          <%= comment.author_fullname %>
        </h3>
        <p>
          <%= comment.body %>
        </p>
    </div>

</div>
