  <%= form_with model: @comment,id: dom_id(@comment) ,data: {
    controller:"comment",
    action: "turbo:submit-end->comment#clearForm"
  } do |form| %>
    <%= form.hidden_field :project_id %>
    <%= form.hidden_field :commentable_id %>
    <%= form.hidden_field :commentable_type %>
    <% if @comment.errors.any? %>
      <div style="color: red">
        <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

        <ul>
          <% @comment.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <%end%>

        </ul>
      </div>
    <% end %>
        <div class="display-flex bg-success flex-column mx-auto border border-dark">
          <div class ="d-flex flex-row">
              <%= form.text_field :title,placeholder:"Title", class:"w-100" ,data: { "comment-target": "title"}  %>
              <%= form.submit "Submit",class:"w-25" %>
          </div>
            <%= form.text_area :body,placeholder:"Description", class:"w-100", style:"height:100px" ,data: { "comment-target": "body"}%>
      </div>
        <% end %>