  <%= form_with model: @comment ,data: {
    controller:"comment",
    action: "turbo:submit-end->comment#clearForm"
  } do |form| %>
    <%= form.hidden_field :project_id %>
    <%= form.hidden_field :commentable_id %>
    <%= form.hidden_field :commentable_type %>
    <% if @comment.errors.any? %>
      <div style="color: red">
        <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

        <ul>
          <% @comment.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <%end%>

        </ul>
      </div>
    <% end %>
        <div>
          <div>
            <h3>
              <%= form.text_field :title, data: { "comment-target": "title"}  %>
            </h3>
            <div>
              <%= form.submit "Submit"%>
            </div>
          </div>
          <p>
            <%= form.text_field :body, data: { "comment-target": "body"}%>
          </p>
      </div>
        <% end %>