<div id="<%= dom_id action %>">
  <p>
    <strong>Id:</strong>
    <%= action.id %>
  </p>

  <p>
    <strong>Project:</strong>
    <%= action.project_id %>
  </p>

  <p>
    <strong>User:</strong>
    <%= action.user_id %>
  </p>

  <p>
    <strong>User fullname:</strong>
    <%= action.user_fullname %>
  </p>

  <p>
    <strong>Entry:</strong>
    <%= action.entry_id %>
  </p>

  <p>
    <strong>Type:</strong>
    <%= action.type %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= action.description %>
  </p>

</div>
