<div id="actions" class="d-flex flex-column mx-auto border border-dark">
  <div class="bg-success d-flex flex-row">
    <% columnWidth = 100 / includeList.length() %>
    <% columnWidthCss = "width:"+ columnWidth.to_s + "%;" %>
    <% Rails.logger.debug "includelist in actions :"+includeList.nil?.to_s %>
    <% for entry in includeList %>
      <h3 class="text-primary border-start border-end m-0 text-center text-truncate" style="white-space: nowrap;<%=columnWidthCss %>" title="<%= entry %>"><%= entry %></h3>
    <% end %>
  </div>
    <div id= "<%= parent + "actions_body"%>">
     <% for action in actions%>
        <%= render action, includeList: includeList, columnWidthCss:columnWidthCss%>
    <% end %>
    </div>
</div>
