<%= form_with(model: action) do |form| %>
  <% if action.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(action.errors.count, "error") %> prohibited this action from being saved:</h2>

      <ul>
        <% action.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :id, style: "display: block" %>
    <%= form.number_field :id %>
  </div>

  <div>
    <%= form.label :project_id, style: "display: block" %>
    <%= form.number_field :project_id %>
  </div>

  <div>
    <%= form.label :user_id, style: "display: block" %>
    <%= form.number_field :user_id %>
  </div>

  <div>
    <%= form.label :user_fullname, style: "display: block" %>
    <%= form.text_field :user_fullname %>
  </div>

  <div>
    <%= form.label :entry_id, style: "display: block" %>
    <%= form.number_field :entry_id %>
  </div>

  <div>
    <%= form.label :type, style: "display: block" %>
    <%= form.number_field :type %>
  </div>

  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.text_field :description %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
