<nav class="navbar navbar-expand-lg bg-success" data-bs-theme="dark"> 
   <div class="container-fluid">
    <%= link_to 'ToDoOrganized',root_path,class:"navbar-brand text-primary" %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav"> 
        <%if user_signed_in? %>
        <%= link_to 'Project Dashboard',projects_path,class:"text-secondary nav-link" %>
        <%= render "projects/projects_dropdown", projects: current_user.projects %>
        <%= link_to 'User',user_path(current_user),class:"nav-link text-secondary" %>
        <%= button_to 'Log Out',destroy_user_session_path, method: :delete, class:"nav-link text-secondary" %>
        <% elsif %>
        <%= link_to 'Log In',new_user_session_path,class:"nav-link text-secondary" %>
        <%= link_to 'Sign Up',new_user_registration_path,class:"nav-link text-secondary" %>
        <% end %>
      </div>
    </div>
  </div>
</nav>