<div class="container h-100 w-100 d-flex flex-column justify-content-center align-items-center">
  <% if user_signed_in? %>
    <!-- Content for logged-in users -->
    <div class="text-center">
      <h1 class="mb-4 text-primary">Welcome back, <%= current_user.first_name %> <%= current_user.last_name %>!</h1>
      <h3>It's time to be productive</h3>
       <%= link_to  "Get Back into the Projects", projects_path , class:"btn btn-outline-primary mb-5" %>
    <%= render "actions/section_unexpanded", actionable: current_user.id, includeList: ["Project","Entry ID","Action Type", "Description","Time"],parent: "user" %> 

    </div>
  <% else %>
    <!-- Content for visitors -->
    <div class="text-center">
      <h1 class="mb-4 text-primary">Welcome to ToDo Organized!</h1>
      <p class="lead">Organize your tasks and projects effortlessly.</p>
      <div class="d-flex flex-column">
        <%= link_to 'Sign Up', new_user_registration_path, class: 'btn btn-primary mt-3' %>
        <%= link_to 'Log In', new_user_session_path, class: 'btn btn-secondary mt-3' %>
        <button class="btn btn-success mt-3 mb-5" onclick="location.href='https://github.com/bossadapt/ToDoOrganized'" type="button">
         Source</button>
      </div>
    </div>
  <% end %>
</div>