<%= form_with model: project_entry ,data: {
    controller:"project-entities",
    action: "turbo:submit-end->project-entities#clearForm"
  }  do |form| %>
  <% if project_entry.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(project_entry.errors.count, "error") %> prohibited this project_entry from being saved:</h2>

      <ul>
        <% project_entry.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%= form.hidden_field :project_id, value: project_entry.project.id %>
  <!-- User inputs-->
  <div class="text-primary justify-content-center align-items-center d-flex flex-column">
    <div>
      <h4 class="mb-0">Title</h3>
      <%= form.text_field :title ,class:"mb-2", data: { "project-entities-target": "title"} %>
    </div>

    <div>
      <h4 class="mb-0">Description</h3>
      <%= form.text_area :description ,class:"mb-2", data: { "project-entities-target": "description"} %>
    </div>
    <div>
      <h4 class="mb-0">Priority</h3>
      <%= form.number_field :priority ,class:"mb-2", data: { "project-entities-target": "priority"} %>
    </div>
    <div>
      <h4 class="mb-0">Assigned</h3>
      <%= form.collection_select :assigned_id, project_entry.project.users, :id, :full_name, { prompt: "Unassigned" }, { data: { "project-entities-target": "assigned" } } %>
    </div>
    <div>
      <%= form.submit "Submit", class:"btn btn-secondary"%>
    </div>
  </div>
<% end %>
