<%= form_with model: project_entry ,data: {
    controller:"project-entities",
    action: "turbo:submit-end->project-entities#clearForm"
  }  do |form| %>
  <% if project_entry.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(project_entry.errors.count, "error") %> prohibited this project_entry from being saved:</h2>

      <ul>
        <% project_entry.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%= form.hidden_field :project_id, value: @project_id %>
  <!-- User inputs-->
  <div>
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title , data: { "project-entities-target": "title"} %>
  </div>

  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.text_field :description , data: { "project-entities-target": "description"} %>
  </div>
  <div>
    <%= form.label :priority, style: "display: block" %>
    <%= form.number_field :priority , data: { "project-entities-target": "priority"} %>
  </div>
  <div>
    <%= form.label :assigned, style: "display: block" %>
    <% project = Project.find_by(id:@project_id)%>
    <%= form.collection_select :assigned_id, project.users, :id, :full_name, { prompt: "Select a user" }, { data: { "project-entities-target": "assigned" } } %>
  </div>
  <div>
    <%= form.submit "Submit"%>
  </div>
<% end %>
