<%= form_with model: project_entry, id:"project_entry_update_form" do |form| %>
  <% if project_entry.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(project_entry.errors.count, "error") %> prohibited this project_entry from being saved:</h2>

      <ul>
        <% project_entry.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <!-- User inputs-->
  <div class= "text-primary">
    <div>
      <h4 class="mb-0 w-75">Title</h3>
      <%= form.text_field :title, class:"w-75" %>
    </div>

    <div>
      <h4 class="mb-0 w-75">Description</h3>
      <%= form.text_area :description , data: { "project-entities-target": "description"}, class:"w-75" %>
    </div>
    <div>
      <h4 class="mb-0 w-75">Priority</h3>
      <%= form.number_field :priority , data: { "project-entities-target": "priority"}, class:"w-75" %>
    </div>
    <div>
      <h4 class="mb-0 w-75">Assigned</h3>
      <%= form.select :assigned_id,
        options_for_select([["Unassigned", ""]] + project_entry.project.users.map { |u| [u.full_name, u.id] },
        project_entry.assigned.nil? ? "" : project_entry.assigned.id),
        { data: { "project-entities-target": "assigned" } }, class:"w-75" %>
    </div>
    <div>
      <%= form.submit "Submit"%>
      <%= link_to "Cancel", project_entry_path(@project_entry), data: { turbo_frame: "project_entry_#{@project_entry.id}" }, class: "btn btn-secondary" %>

    </div>
  </div>
<% end %>
