<%= form_with model: project_entry, id:"project_entry_update_form" do |form| %>
  <% if project_entry.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(project_entry.errors.count, "error") %> prohibited this project_entry from being saved:</h2>

      <ul>
        <% project_entry.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <!-- User inputs-->
  <div>
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.text_field :description , data: { "project-entities-target": "description"} %>
  </div>
  <div>
    <%= form.label :priority, style: "display: block" %>
    <%= form.number_field :priority , data: { "project-entities-target": "priority"} %>
  </div>
  <div>
    <%= form.label :assigned, style: "display: block" %>
    <%= form.select :assigned_id,
      options_for_select([["Unassigned", ""]] + project_entry.project.users.map { |u| [u.full_name, u.id] },
      project_entry.assigned.nil? ? "" : project_entry.assigned.id),
      { data: { "project-entities-target": "assigned" } } %>
  </div>
  <div>
    <%= form.submit "Submit"%>
  </div>
<% end %>
