<% content_for :title, "Project entries" %>
<%# 125x5 height for body and 65 px for the header %>
<div id="project_entries" class="d-flex flex-row mx-5 mb-3" style="min-width: 1200px;height:755px;">
  <div class="d-flex flex-column w-20 border border-secondary height:100%">
    <div class="d-flex flex-row justify-content-center align-items-center bg-success p-2" style="height:65px;">
      <button type="button" class="btn btn-dark border border-primary rounded-0 ms-5 px-3 text-primary" style="font-size: 30px;height: 40px;line-height: 15px;" data-bs-toggle="modal" data-bs-target="#newProjectEntryModal">
        +
      </button>
      <h2 class="text-primary ms-5 text-start w-75">
        New
      </h2>
    </div>
    <%= render partial: "project_entries/project_entries_column_body", locals: { project: @project, status:"new" } %>
  </div>
  <div class="d-flex flex-column w-20 border border-secondary height:100%">
     <div class="d-flex flex-row justify-content-center align-items-center bg-success p-2" style="height:65px;">
      <h2 class="text-primary">
          Assigned
        </h2>
     </div>
     <%= render partial: "project_entries/project_entries_column_body", locals: { project: @project, status:"assigned" } %>
  </div>
  <div class="d-flex flex-column w-20 border border-secondary height:100%">
     <div class="d-flex flex-row justify-content-center align-items-center bg-success p-2" style="height:65px;">
      <h2 class="text-primary">
          Accepted
        </h2>
     </div>
     <%= render partial: "project_entries/project_entries_column_body", locals: { project: @project, status:"accepted" } %>
  </div>

  <div class="d-flex flex-column w-20 border border-secondary height:100%">
     <div class="d-flex flex-row justify-content-center align-items-center bg-success p-2" style="height:65px;">
      <h2 class="text-primary">
          In Progress
        </h2>
     </div>
     <%= render partial: "project_entries/project_entries_column_body", locals: { project: @project, status:"in_progress" } %>
  </div>

  <div class="d-flex flex-column w-20 border border-secondary height:100%">
     <div class="d-flex flex-row justify-content-center align-items-center bg-success p-2" style="height:65px;">
      <h2 class="text-primary">
          Completed
        </h2>
     </div>
     <%= render partial: "project_entries/project_entries_column_body", locals: { project: @project, status:"completed" } %>
  </div>
</div>


<!-- Create Popup -->
<div class="modal" id="newProjectEntryModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Create Project Entry</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
         <%= turbo_frame_tag "new_project_entry", src: new_project_entry_path(project_id: @project.id), target: "_top"%>
      </div>
    </div>
  </div>
</div>
<!-- Show / Edit popup -->
<div class="modal" id="displayProjectEntryModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Create Project Entry</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
         <%= turbo_frame_tag "project_entry_frame", src: "", target: "_top"%>
      </div>
    </div>
  </div>
</div>
