<%= turbo_frame_tag "project_entry_frame", target: "_top" do%>
<%= turbo_stream_from project_entry %>
<div id="<%= dom_id project_entry %>">
  <div class="d-flex flex-row">
 <h4 class="mb-0 w-50 text-primary me-auto">Id</h3>
     <%= link_to "Edit Entry", edit_project_entry_path(project_entry,project_id: project_entry.project.id), 
    data: { turbo_frame:"project_entry_edit"}, 
    class: "btn btn-primary"
    %>
  <%= button_to 'Delete Entry', project_entry_path(project_entry), method: :delete, 
  class: 'btn btn-danger', 
  data: { controller: "project-entities", action: "click->project-entities#handleDelete", "project-entities-peid-value": project_entry.id
  } %>
    </div>

  <p>
    <%= project_entry.id %>
  </p>
<h4 class="mb-0 w-75 text-primary">Author Full Name</h3>
  <p>
    <%= project_entry.author_fullname + "(" +project_entry.author.id.to_s + ")"%>
  </p>
  <%= turbo_frame_tag "project_entry_edit", target: "_top" do%>
  <%= render partial: "project_entries/project_entry_editable_fields", locals: { project_entry: project_entry } %>
</div>
<div>
    <h1 class="text-primary ms-5">Action History</h1>

  <div id="actions">
        <%= render "actions/actions", actions: project_entry.actions.ordered,includeList: ["Project","Action Type","Author", "Description","Time"],parent: project_entry.id.to_s %>
    </div>
    <h1 class="text-primary ms-5"">Comments</h1>
    <%= turbo_frame_tag Comment.new, src: new_comment_path(project_id: project_entry.project.id, commentable_id: project_entry.id, commentable_type: "ProjectEntry"), target:"_top" %>
      <%= render partial:"comments/comments" , locals: {parent: project_entry.id.to_s,comments: project_entry.comments.ordered} %>
    <% end %>
    </div>
<% end %>