<!-- have these call something that allows them display all the info, edit them, delete them --->
<div class="d-flex flex-row bg-secondary" > 
  <% case project_entry.status %>
    <% when "assigned" %>
        <%= button_to project_entry_path(project_entry), class: "h-100" ,method: :patch, params: { project_entry: { status: "new" , assigned_id:  nil, assigned_fullname: nil} } do %>
        <
        <% end %>
    <% when "accepted" %>
        <%= button_to project_entry_path(project_entry), class: "h-100", method: :patch, params: { project_entry: { status: "assigned" } } do %>
        <
        <% end %>
    <% when "in_progress" %>
        <%= button_to  project_entry_path(project_entry), class: "h-100", method: :patch, params: { project_entry: { status: "accepted" } } do %>
        <
        <% end %>
    <% when "completed" %>
        <%= button_to project_entry_path(project_entry), class: "h-100", method: :patch, params: { project_entry: { status: "in_progress" } } do %>
        <
        <% end %>
    <% else %>
        <button class="h-100" disabled><</button>
  <% end %>
     <div class="w-100" role="button" data-controller="project-entities" data-action="click->project-entities#show" data-project-entities-url-value=<%= project_entry_path(project_entry) %>>
      <div class="d-flex flex-row">
        <h2>
            <%= project_entry.title %>
        </h2>
        <h2 class="ms-auto text-end text-danger">
            <%= project_entry.priority %>
        </h2>
      </div>
      <p>
        <%= project_entry.description %>
      </p> 
    </div>

  <% case project_entry.status %>
    <% when "new" %>
      <%= button_to project_entry_path(project_entry), class: "h-100", method: :patch, params: { project_entry: { status: "assigned" }} do %>
        >
      <% end %>
    <% when "assigned" %>
      <%= button_to  project_entry_path(project_entry), class: "h-100", method: :patch, params: { project_entry: {  status: "accepted" } } do %>
      >
      <% end %>    
    <% when "accepted" %>
      <%= button_to  project_entry_path(project_entry), class: "h-100", method: :patch, params: { project_entry: {  status: "in_progress" } } do%>
      >
      <% end %>    
    <% when "in_progress" %>
      <%= button_to  project_entry_path(project_entry), class: "h-100", method: :patch, params: { project_entry: {  status: "completed" } } do%>
      >
      <% end %>
    <% else %>
  <button class="h-100 disabled" disabled>></button>
  <% end %>
</div>