<%= turbo_frame_tag "project_entry_frame", target: "_top" do%>
<%= turbo_stream_from project_entry %>
<div id="<%= dom_id project_entry %>">
  <p>
    <strong>Id:</strong>
    <%= project_entry.id %>
  </p>

  <p>
    <strong>Author:</strong>
    <%= project_entry.author_fullname + "(" +project_entry.author.id.to_s + ")"%>
  </p>
  <%= turbo_frame_tag "project_entry_edit", target: "_top" do%>
    <%= render partial: "project_entries/project_entry_editable_fields", locals: { project_entry: project_entry } %>
  <% end %> 
</div>
<div>
  <div id="actions">
        <%= render "actions/actions", actions: project_entry.actions.ordered %>
    </div>
    <h2>Comments</h2>
    <%= turbo_frame_tag Comment.new, src: new_comment_path(project_id: project_entry.project.id, commentable_id: project_entry.id, commentable_type: "ProjectEntry"), target:"_top" %>
    <%= turbo_frame_tag "comments",  target:"_top" do%>
      <%= render project_entry.comments.ordered %>
    <% end %>
    </div>
<% end %>