  <%= turbo_frame_tag "project_entries_body", target:"_top" do%>
  <tbody id="project_entries_tbody">
    <%
    if @project_entries.nil?
      @project_entries = project_entries
    end
    @new_entries = []
    @assigned_entries = []
    @accepted_entries = []
    @in_progress_entries = []
    @completed_entries = []
    for entry in @project_entries
      case entry.status
      when "new"
          @new_entries.push(entry)
      when "assigned"
          @assigned_entries.push(entry)
      when "accepted"
          @accepted_entries.push(entry)
      when "in_progress"
          @in_progress_entries.push(entry)
      else
          @completed_entries.push(entry)
      end
    end
     @counter = 0;
     while !@new_entries[@counter].nil? || !@assigned_entries[@counter].nil?|| !@accepted_entries[@counter].nil?|| !@in_progress_entries[@counter].nil?|| !@completed_entries[@counter].nil? do
     %>
      <tr>
        <% if !@new_entries[@counter].nil? %>
          <td><%= render @new_entries[@counter] %></td>
        <% else %>  
        <td></td>
        <% end %>

        <% if !@assigned_entries[@counter].nil? %>
          <td><%= render @assigned_entries[@counter] %></td>
        <% else %>  
        <td></td>
        <% end %>

        <% if !@accepted_entries[@counter].nil? %>
          <td><%= render @accepted_entries[@counter] %></td>
        <% else %>  
        <td></td>
        <% end %>

        <% if !@in_progress_entries[@counter].nil? %>
          <td><%= render @in_progress_entries[@counter] %></td>
        <% else %>  
        <td></td>
        <% end %>

        <% if !@completed_entries[@counter].nil? %>
          <td><%= render @completed_entries[@counter] %></td>
        <% else %>  
        <td></td>
        <% end %>
      </tr>
      <% @counter +=1 %>
    <% end %>
  </tbody>
  <% end %>