<div id="<%= dom_id project_entry %>">
  <p>
    <strong>Id:</strong>
    <%= project_entry.id %>
  </p>

  <p>
    <strong>Author fullname:</strong>
    <%= project_entry.author_fullname %>
  </p>

  <p>
    <strong>Assigned fullname:</strong>
    <%= project_entry.assigned_fullname %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= project_entry.title %>
  </p>

  <p>
    <strong>Priority:</strong>
    <%= project_entry.priority %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= project_entry.description %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= project_entry.status %>
  </p>

</div>
