<h4 class="mb-0 w-75 text-primary">Title</h3>
    <p>
      <%= project_entry.title %>
    </p>
    <h4 class="mb-0 w-75 text-primary">Assigned</h3>
    <p>
      <% if project_entry.assigned.present? %>
        <%= project_entry.assigned_fullname + "(" +project_entry.assigned.id.to_s + ")" %>
      <% else %>
          Not Assigned yet
      <% end %>
    </p>
    <h4 class="mb-0 w-75 text-primary">Priority</h3>
    <p>
      <%= project_entry.priority %>
    </p>

    <h4 class="mb-0 w-75 text-primary">Description</h3>

    <p>
      <%= project_entry.description %>
    </p>
<h4 class="mb-0 w-75 text-primary">Status</h3>
    <p>
      <%= project_entry.status %>
    </p>
    <div class="d-flex flex-row">
  </div>