<%= form_with(model: project) do |form| %>
<div class="d-flex flex-column justify-content-center align-items-center text-primary" style="width: 100vw;">
  <% if project.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
        <% project.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

      <h3 class="text-primary w-25 mb-0">Title</h3>
    <%= form.text_field :title,class:"w-25" %>

      <h3 class="text-primary w-25 mb-0">Description</h3>
    <%= form.text_area :description,class:" w-25" %>

    <%= form.submit class:"btn btn-secondary w-25" %>
    </div>
<% end %>
