<div id="<%= dom_id project %>">
  <p>
    <strong>Id:</strong>
    <%= project.id %>
  </p>

  <p>
    <strong>Owner:</strong>
    <%= project.owner_id %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= project.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= project.description %>
  </p>

</div>
