<div id="<%= dom_id project %>" class="d-flex flex-row mb-3"style="width:90vw; margin-left:5vw;margin-right:5vw;">
      <%= render partial:"projects/project_editable", locals:{project:project} %>
      <div class="d-flex flex-row" style="width:25vw">
        <%= render "projects/users_dropdown", project: project%>
        <% if project.owner.id == current_user.id %>
          <button class= "btn btn-primary ms-2" 
          data-controller="clipboard"
          data-action= "click->clipboard#generate" 
          data-clipboard-url-value = "<%= generate_invite_project_path(project)%>">
            Generate Invite
          </button>
          <%= button_to "Delete Project",  project, method: :delete, class: "btn btn-danger ms-2 h-100", data: { turbo: false }%>
        <% else %>
          <%= button_to "Leave Project", remove_from_project_project_path(project), method: :get, class: "btn btn-danger ms-2 h-100"%>
        <% end %>
      </div>
  </div>
