  <%= turbo_frame_tag "project_edit" do %>
    <%= form_with(model: @project) do |form| %>
      <div class="d-flex flex-row w-100">
          <div class="w-50">
            <%= form.text_field :title %>
          </div>
          <div class="w-40">
            <%= form.text_field :description %>
          </div>
          <%= form.submit class: "btn btn-secondary w-10 ml-auto mr-0px"%>
      </div>
    <% end %>
  <% end %>
