<%= turbo_frame_tag "project_frame" do %>
<%= turbo_stream_from @project %>
<%= render "projects/users_dropdown", users: @project.users %>
<%= render @project %>
    <div id= "entries"> 
        <%= render "project_entries/project_entries", project: @project, project_entries:@project.project_entries%>
    </div>
    <div id="actions">
        <%= render "actions/actions", actions: @project.actions.ordered %>
    </div>
    <!-- TODO: move the projects dropdown to the nav bar and disallow resellecting the project thats already focused--->
    <!-- TODO: fix the after project button click, the users button no longer works --->
    <!-- TODO: add a page you can visit individual actions and add comments --->
    <!-- TODO: add paging to both the comments and actions so they can get pas some and not load 100s --->
    <!-- TODO: make invite table with expiration times that get checked before action happens, peform maintnance manually--->
    <!-- TODO: actually add the footer --->


    <div>
        <%= turbo_frame_tag Comment.new, src: new_comment_path(project_id: @project.id, commentable_id: @project.id, commentable_type: "Project"), target:"_top" %>
        <div>Comments</div>
        <%= turbo_frame_tag "comments",  target:"_top" do%>
            <%= render @project.comments.ordered %>
        <% end %>
    </div>
<% end %>