<p style="color: green"><%= notice %></p>
<%= turbo_frame_tag "project_frame" do %>
<%= render "projects/users_dropdown" , locals:{users: @users} %>
<%= render @project %>
<%= render @actions %>
<%= render @comments %>
<div>
</div>
<% end %>
