<%= turbo_frame_tag "project_frame" do %>
<%= turbo_stream_from @project %>
<div class="mx-4">
    <%= render @project %>
</div>
    <hr class="border border-primary mx-4">
    <div id= "entries" style="overflow-x:scroll;width:100vw"> 
        <%= render "project_entries/project_entries", project: @project, project_entries:@project.project_entries%>
    </div>
    <hr class="border border-primary mx-4">

    <%= render partial:"comments/section_unexpanded", locals: {parent: "proj", commentable: @project, commentableIsProject: true} %>
    <%= render "actions/section_unexpanded", actionable: @project,includeList: ["Entry ID","Action Type","Author", "Description","Time"],parent: "" %> 
<% end %>