<!doctype html>
<html lang="en" data-bs-theme="dark">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>To Do Organized</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <% if Rails.env.development? %>
      <meta name="action-cable-url" content="ws://localhost:3000/todoorganized/cable">
    <% elsif Rails.env.production? %>
      <meta name="action-cable-url" content="wss://bossadapt.org/todoorganized/cable">
    <% end %>
    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    </head>
  <body class="bg-dark">
    <%= render 'home/header'%>
    <div id="flash">
      <p id="flash-message" class="<%= flash[:notice].present? ? 'alert alert-primary' : 'alert alert-primary p-0' %>" role="alert"><%= notice %></p>
    </div>
    <%= yield%>
    
  </body>
  <%= render 'home/footer'%>
</html>